body, html {
	height: 100%;
}
.no-js #loader {
	display: none;
}
.js #loader {
	display: block;
	position: absolute;
	left: 100px;
	top: 0;
}
.se-pre-con {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url("../HTML files/Preloader_3.gif") center no-repeat #48d1cc;
	background-color: #48d1cc;
}
.hideme
{
    opacity:0.2;
}
.text p {
	color: #ff3043;
}
html {
	overflow-x: hidden;
}
@media only screen and (max-width: 650px) {
	.bg {
		background-image: url("../Images/Camera.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		background-attachment: fixed;
		background-position: center;
		text-align: center;
		height: 120%;
		width: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}
	.Mypic {
		height: 80%;
		width:100%;
		padding: 2%;
		margin-bottom: 3%;
	}
	#data {
		background-color: #333;
		color: floralwhite;
		font-size: 5vw;
		font-family: monospace;
		margin-top: 4vw;
		text-align: center;
	}
	.text {
		font-size: 8vw;
		text-align: left;
		color: #ff3043;
		position: absolute;
		left: 10%;
		top: 25%;
		font-family: Algerian, sans-serif;
	}
}
@media only screen and (min-width: 650px) {
	.bg {
		background-image: url("../Images/Camera.jpg");
		background-repeat: no-repeat;
		background-size: 100%;
		background-attachment: scroll;
		background-position: center;
		text-align: center;
		height: 110%;
		width: 100%;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
	}
	.Mypic {
		height: 80%;
		width: 80%;
		padding: 5%;
		margin-left: 2vw;
		margin-bottom: 3%;
	}
	#data {
		background-color: #333;
		color: floralwhite;
		font-family: monospace;
		margin-top: 4vw;
		text-align: center;
	}
	.text {
		font-size: 3vw;
		text-align: left;
		position: absolute;
		left: 65%;
		top: 25%;
		font-family: Algerian;
	}
}
a i{
	color: #aaa6a0;
	text-align: center;
}
a i:hover{
	color: #fffcec;
}
html {
	overflow-x: hidden;
}
.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding: 0 4px;
	flex-direction: row;
}
.column {
	-ms-flex: 25%;
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
	flex-direction: column;
}
.column img {
	margin-top: 8px;
	vertical-align: top;
}
@media screen and (max-width: 800px) {
	.column {
		-ms-flex: 50%;
		flex: 50%;
		max-width: 50%;
	}
}
@media screen and (max-width: 600px) {
	.column {
		-ms-flex: 100%;
		flex: 100%;
		max-width: 100%;
	}
}
.active {
	background-color: #717171;
}
body .Gallery {
	background-color: #339966;
}
.Gallery img {
	padding: 2%;
	border-radius: 20px;
	height: auto;
	width: 100%;
}
* {
	box-sizing: border-box;
}
.zoom {
	transition: transform .2s;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.zoom:hover {
	-ms-transform: scale(1.5);
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
}
